@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
:root {
  --primary-color: #3a3a3a;
  --secendery-color: #18191f;
  --hover-color: #e02c6d;
  --btn-bg-color: #e02c6d;
  --text-color: #ffffff;
  --rating-text-color: #5e6366;
  --rating-color: #fb8200;
  --card-paragraph-color: #787885;
  --feature-description-color: #6c6c6c;
  --feature-title-color: #0a0826;
  --footer-bg-color: #0a0826;
  --cpoyright-color: #d9dbe1;
  --footer-icon-bg-color: #22213c;

}
body {
  font-family: "Poppins", sans-serif;
}
/* shared style start*/
.container {
  max-width: 80rem;
  margin: auto;
  padding: 1.25rem;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.mt {
  margin-top: 6.25rem;
}

.btn {
  background-color: var(--btn-bg-color);
  color: var(--text-color);
  font-weight: 700;
  padding: 0.62rem 1.5rem;
  border-radius: 2.56rem;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* shared style end*/

/* main style start*/

/* header style start */
.header {
  margin-top: 1.8rem;
}
/* nabbar */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.nab-list {
  list-style: none;
  gap: 2.12rem;
  align-items: center;
}
.nab-list li a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  color: var(--primary-color);
}
.nab-list li a:hover {
  color: var(--hover-color);
}

.nav-toggle {
  font-size: 2rem;
  display: none;
}

.navbar .cart {
  display: none;
  font-size: 2rem;
}

/* banner */
.banner-container {
  justify-content: space-between;
  align-items: center;
  gap: 8.31rem;
}
.banner {
  /* background-color: red; */
  padding-top: 3.75rem;
}

.banner-content h1 {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 1rem;
  color: var(--primary-color);
}
.banner-content p {
  display: block;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.banner-container img {
  background: url(../images/Circle\ design.svg) no-repeat;
  background-size: contain;
  padding: 0.6rem;
  width: 100%;
}

/* sponsor style */

.sponsor-logo {
  padding: 2.5rem;
  border-top: 2px solid rgba(137, 43, 226, 0.089);
  border-bottom: 2px solid rgba(137, 43, 226, 0.089);
  /* margin-bottom: 6.25rem; */
  grid-template-columns: repeat(7, 1fr);
  column-gap: 3.7rem;
  align-items: center;
  justify-items: center;
}
.sponsor-logo img {
  width: 100%;
  max-width: 5.62rem;
}

/* popular style satart */
.section-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.87rem;
}
.popular-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.87rem;
}
.card {
  background-color: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  padding: 1rem;
  /* max-width: 21rem; */
}
.card img {
  width: 100%;
  /* max-width: 19rem; */
  margin-bottom: 1rem;
  border-radius: 0.31rem;
}
.card .title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: 0.6rem;
}
.card .price {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.card .rating-box {
  gap: 0.8rem;
  align-items: center;
  justify-content: start;
  margin-bottom: 0.3rem;
}
.card .rating-box .rating {
  color: var(--rating-color);
  font-size: 0.87rem;
  font-weight: 700;
}
.card .rating-box p {
  color: var(--rating-text-color);
  font-size: 0.87rem;
  font-weight: 700;
}

.card .status {
  color: var(--card-paragraph-color);
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 143%;
}

.popular .popular-btn {
  display: block;
  background-color: transparent;
  color: var(--btn-bg-color);
  margin-top: 3rem;
  text-align: right;
}

/* popular style end */

/* featured style start */

.featured-container {
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
.featured-container img {
  width: 100%;
  max-width: 26rem;
}
.featured-content-title {
  font-size: 2.37rem;
  font-weight: 700;
  color: var(--feature-title-color);
  margin-bottom: 1rem;
  line-height: 3.75rem;
}
.featured-content-description {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: var(--feature-description-color);
  margin-bottom: 1rem;
}
.featured-btn {
  border-radius: 0rem;
}
/* featured style end */

/* footer style start */
.footer {
  background-color: var(--footer-bg-color);
  color: white;
}
.footer-container {
  padding: 3rem 0px;
  flex-direction: column;
  text-align: center;
}
.footer-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--text-color);
}
.copyright {
  color: var(--cpoyright-color);
  font-size: 14px;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.footer-container .social{
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.social .icon{
  text-align: center;
  color: var(--text-color);
  /* background-color: var(--footer-icon-bg-color); */
}
/* footer style end */

/* main style end*/

/* meadia quary style start*/

/* laptop style start*/
@media screen and (max-width: 1024px) {
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.6rem;
  }
  .banner-content {
    text-align: center;
  }
  .sponsor {
    margin-top: 3.12rem;
  }
  .popular {
    margin-top: 1.12rem;
  }

  .featured {
    margin-top: 2rem;
  }
  .featured-container {
    gap: 3rem;
  }
  .featured-container img {
    max-width: 20rem;
  }
  .featured-content-title {
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }
  .featured-content-description {
    font-size: 1rem;
  }

  .footer{
    margin-top: 1rem;
  }
}
/* laptop style end*/

/* tablet style start*/
@media screen and (max-width: 768px) {
  .nab-list {
    display: none;
    flex-direction: column;
    gap: 2px;
    background-color: #e02c6d;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.219);
    height: 100vh;
    width: 15.6rem;
    padding: 5rem 2rem;
    align-items: start;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nab-list.active {
    display: flex;
  }

  .nav-toggle {
    display: block;
    z-index: 100;
  }
  .navbar .cart {
    display: block;
  }

  .sponsor-logo {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    row-gap: 1.87rem;
  }

  .popular-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-container {
    flex-direction: column-reverse;
  }
  .featured-container img {
    max-width: 26rem;
  }
  .featured-content {
    text-align: center;
  }
}

/* tablet style end*/

/* mobile style start*/
@media screen and (max-width: 640px) {
  .header {
    margin-top: 0rem;
  }
  .nav-toggle,
  .navbar .logo,
  .cart {
    font-size: 1rem;
  }

  .banner-content h1 {
    font-size: 1.75rem;
    line-height: normal;
  }
  .banner-content p {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .sponsor-logo {
    border: none;
    padding: 0px 2.25rem;
    gap: 1.25rem;
  }

  .section-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.87rem;
  }
  .popular-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* mobile style end*/

/* meadia quary style end*/
